<head>
  <title>
    <%= lastPrice %>
  </title>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-ae362vOLHy2F1EfJtpMbNW0i9pNM1TP2l5O4VGYYiLJKsaejqVWibbP6BSf0UU5i"
    crossorigin="anonymous">
</head>
<h1>My Bitcoin Site</h1>
<div>
  <a class="btn btn-primary" href="/">Home</a>
  <a class="btn btn-primary" href="/brain">Brain Wallet</a>
  <a class="btn btn-primary" href="/converter">Converter</a>
</div>